$topmargin: 5rem
$topmarginForm: 2.5rem

.cars-index
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: $topmargin
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige

  .body-content
    .row
      display: flex
      justify-content: center

      .col-md-3
        &:hover
          background-color: rgba(83, 92, 102, 0.3)
          border-radius: 16px

        a
          color: white
          &:hover
            text-decoration: none

          h4, h5
            margin: 1rem

.index-content
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 0px
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige


.cars-view
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: $topmargin
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige


.cars-update
  display: flex
  justify-content: center

  .cars-content
    background-color: rgba(0, 0, 0, 0.5)
    padding: 2rem
    margin-top: $topmarginForm
    text-align: center
    border-radius: 1.8rem
    width: 40rem

.cars-create
  @extend .cars-update

