$topmargin: 5rem
$topmarginForm: 2.5rem

.site-index2
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: $topmargin
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige