.companies-create
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 5rem
  text-align: center
  border-radius: 1.8rem
  width: 25rem
  margin-left: 18vw

.companies-update
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 5rem
  text-align: center
  border-radius: 1.8rem
  width: 25rem
  margin-left: 18vw

.companies-view
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 5rem
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige



.companies-index
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 5rem
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige


