$topmargin: 5rem
$topmarginForm: 2.5rem

.contributors-create
  display: flex
  justify-content: center

  .contributors-content
    background-color: rgba(0, 0, 0, 0.5)
    padding: 2rem
    margin-top: $topmarginForm
    text-align: center
    border-radius: 1.8rem
    width: 25rem

.contributors-update
  @extend .contributors-create


.contributors-view
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 5rem
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige

.contributors-index
  background-color: rgba(0, 0, 0, 0.5)
  padding: 2rem
  margin-top: 5rem
  text-align: center
  border-radius: 1.8rem

  table
    color: white

    a
      color: beige